.oxmod-imgplayer {
  /* CSS */
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  overflow: hidden;
}
.oxmod-imgplayer.fullscreen .img-desc {
  display: none;
}
.oxmod-imgplayer.fullscreen:after {
  content: attr(data-index) '/' attr(data-count);
  position: absolute;
  width: 100%;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
  bottom: 0;
}
.oxmod-imgplayer .img-box {
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  font-size: 0;
}
.oxmod-imgplayer .img-item {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.oxmod-imgplayer .img-desc {
  overflow: hidden;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -30%;
}
.oxmod-imgplayer .img-desc * {
  overflow: hidden;
}
.oxmod-imgplayer .desc-text {
  border-right: solid 1px #999;
  margin-right: 30px;
  padding: 5px 10px;
  font-size: .8rem;
}
.oxmod-imgplayer .desc-index {
  float: right;
  width: 30px;
  text-align: center;
}
.oxmod-imgplayer .desc-index em {
  font-style: normal;
}
